/* Import the Lux theme */
@import url("https://bootswatch.com/5/lux/bootstrap.min.css");

body {
  background-image: url("https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
}

/* Style the container */
.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem; /* Add rounded corners */
  background-color: #f8f9fa; /* Change background color to match the theme */
}

/* Style the input fields */
label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type='text'] {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 2px solid black;
  border-radius: 0.5rem; /* Add rounded corners */
  background-color: #e9ecef; /* Change background color to match the theme */
}

button[type='submit'] {
  background-color: #0d6efd;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem; /* Add rounded corners */
  cursor: pointer;
}

/* Style the table */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0.5rem;
  margin-top: 2rem;
  border: none; /* Remove table border */
  background-color: #f8f9fa; /* Change background color to match the theme */
  border-radius: 1rem; /* Add rounded corners */
}

th,
td {
  padding: 0.5rem;
  text-align: left;
  border: none; /* Remove cell borders */
  background-color: #e9ecef; /* Change background color to match the theme */
  color: #212529; /* Change text color to black */
  border-radius: 0.5rem; /* Add rounded corners */
}

th {
  cursor: pointer;
}

td button {
  background-color: #dc3545; /* Change button color to match the theme */
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
